
<h3>Users</h3>
<div>
  <table class='table table-striped' aria-labelledby="tableLabel" *ngIf="users">
    <thead>
      <tr>
        <th>Id</th>
        <th>User Name</th>
        <th>User Roles</th>
        <th>Is Banned</th>
        <th>Delete</th>
        <th>Manage</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let user of users">
        <td>{{ user.id }}</td>
        <td> {{ user.userName }}</td>
        <td> {{ user.userRoles}}</td>
        <td> <input type="checkbox" [(ngModel)]="user.isBanned" (change)="banUser(user)" /></td>
        <td *ngIf=!isUserAdmin(user)><a (click)="deleteUser(user.id)"><i class="fa-solid fa-trash-can"></i></a></td>
        <td *ngIf=isUserAdmin(user)></td>
        <td></td>
      </tr>
    </tbody>
  </table>
</div>


